body{
	background: #ddd;
}

.lp-wr{
	max-width: 970px;
	margin: 0 auto;
}
 section div.lp-wr{
	background: #fff;

} 
header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: rgba(0,0,0,0.5);
	text-align: center;	
	transition: padding 0.5s;
	z-index: 500;


}
header.top {
	padding-top: 15px;
	padding-bottom: 15px;
	
}

 header ul.nav li{
 	display: inline-block;
 	border-color: transparent;
 }
 header ul.nav li a{
  	padding: 10px 30px;
  	color: #fff;
  	transition: color 0.5s;
  	text-transform: uppercase;

}

section{
	z-index: 5;
}

section[id="slideshow"]{
	margin-top: 70px;
	
}

header ul.nav li.active a,
header ul.nav li a:hover,
header ul.nav li a:focus{
	color: #618ad2;
	background: transparent;
}

.lp-content{
	padding-top: 40px;
	padding-bottom: 40px;
	/*min-height: 500px;*/
	border-bottom:1px solid #999;
	padding-left: 20px;
	padding-right: 20px;
}
.lp-content h2{
	color: #618ad2;
	text-align: center;
	font-weight: bold;


}
footer{
	background: rgba(0,0,0,0.5);
	margin:0;
	color: #fff;
	text-align: center;

}
#slideshow .lp-content{
	padding-top: 0;
	padding-bottom:0;
}
.owl-dots{
	position: absolute;
	text-align: center;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 0 20px 0

}
.owl-dot{
	display: inline-block;
	padding: 0 2.5px;
}
.owl-dot span {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: rgba(255, 255, 255,0.5);
	border-radius: 100%;
}
.owl-dot.active span{
	background: #618ad2;
	transition: background 0.5s;
}
.owl-nav>div{
position: absolute;
top: 50%;
width: 40px;
height: 40px;
background: #fff;
border-radius: 100%;
margin-top: -20px;
opacity: 0.7;
text-align: center;	


}

.owl-nav>div:hover{
opacity: 0.9;
}

.owl-prev{
left: 20px;
}
.owl-next{
right: 20px;
}
.owl-nav>div>i{
font-size: 20px;
line-height: 40px;
color: #618ad2;
}
div.lp-slider1{
	margin-top:5%;
}
section[id="portfolio"]>div>div{
	height: 700px;
}
.lp-slider2 .owl-dot span {
	display: none;
}
.lp-tabs{
	padding: 20px;
}

.lp-tabs-titles ul{
	padding: 0;
	margin: 0 0 20px 0;
	text-align: center;	
}
.lp-tabs-titles ul li{
	list-style: none;
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	background: #ccc;
	border-radius: 3px;
	cursor: pointer;
	transition: color 0.25s, background-color 0.25s;
}

.lp-tabs-titles ul li.active,
.lp-tabs-titles ul li:hover {
	background: #618ad2;
	color: white;
}
.lp-tabs-content{
	position: relative;
}
.lp-tab{
position: absolute;
left: 0;
top: 0;
width: 100%;
display: none;
}
div.lp-content{
	position: relative;
}
.lp-tabs-footer{
	position: absolute;
	left: 5px;
	bottom: 5px;
	padding: 5px 10px;
	background: #ccc;
	border-radius: 3px;
	display: inline-block;
}
#modals{
	display: none;

}
.lp-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.setOfButtons li{
	list-style: none;
	display: inline-block;
	text-align: center;
	padding-left: 0;
}
#prices table th{
	color: #fff;
	text-align: center;
	background: #618ad2;
	-webkit-user-select:none;
}
#prices table th[ng-click]{
	cursor: pointer;
}
#prices table .second{
	background: #ccc;
}
#prices table td i {
	color: #618ad2;
	
}